* {
    color: #eee;
    font-family: 'Lato';
    margin: 0;
}

body {
    background: #232526; 
    background: -webkit-linear-gradient(to left, #414345, #232526);  
    background: linear-gradient(to left, #414345, #232526); 
    padding: 20px 60px;
}