.header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;

  .logo-container {
    height: 100%;
    margin-top: -24px;
    padding: 0 24px 24px 24px;
    width: 70px;

    .logo {
      height: 120px;
      width: 120px;
    }

    @media screen and (max-width: 800px) {
      margin-top: -51px;
      padding: 0px;
      width: 50px;
    }
  }

  .options {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 50%;

    .option {
      cursor: pointer;
      margin-right: 12px;
      padding: 9px 15px;

      &:hover {
        background-color: #f5d020;
        border-radius: 3rem;
        color: #232526;
      }
    }

    @media screen and (max-width: 800px) {
      width: 100%;

      & .hidden {
        display: none;
      }
    }
  }

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
