.register {
    width: 30vw;

    .title {
        margin: 6px 0;
    }

    .option {
        margin: 6px 0;

        .route {
            color: #20BF55;
            margin-left: 9px;
        }
    }
}